@import "tailwindcss";

@plugin "daisyui";



*{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
body{
    min-height: 100vh;
    min-width: vw;
    background-color: #FFFCF2;
}